/* Color Palette
  Black: #000000;
  Beige: #F5F4DB;
  White: #FFFFFF;
  Pink: #FFB7C1;
  Grey: #B4B3B1;
*/


/*********** Begin Layout Styles ***********/
body {
    background-color: #F5F4DB;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* disable this line if you want full-width layouts */
  padding: 15px;
}

header, main, footer {
  padding: 15px;
  margin: 15px;
}

/* phones (base layout is mobile-first) */
header {
  /* border: 3px solid #990000;  /*disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name";
}

main {
  /* border: 3px solid #009900;  /*disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "map"
    "hours"
    "menu"
    "reviews";
}

footer {
  /* border: 3px solid #000099;  disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "social"
    "contact"
    "credits";
}

/* tablets and small laptops */
@media (min-width: 600px) {

  header {
    font-size: 155px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "logo name";
  }

  main {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "carousel carousel"
      "map menu"
      "map reviews"
      "hours reviews";
  }

  footer {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "social contact"
    "credits credits";
  }
}

/* desktops */
@media (min-width: 900px) {
  header {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "logo name";
  }

  main {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "carousel carousel carousel"
      "map menu reviews"
      "map hours reviews"
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "social contact"
    "credits credits";
  }
}

div {
  /*border: 1px solid #999999; /* disable this line once layout works */
  /*text-align: center;  /*disable this line once layout works */
}

main div {
  /*min-height: 80px;  /*disable this line once layout works */
}

div#logo {
  display: none;
  grid-area: logo;
}

div#name {
  grid-area: name;
}

div#carousel {
  display: none;
  grid-area: carousel;
}

div#map {
  grid-area: map;
}

div#hours {
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
  font-size: 35px;
  grid-area: hours;
  text-align: center;
}

div#menu {
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
  font-size: 30px;
  grid-area: menu;
  text-align: center;
}

div#reviews {
  display: none;
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
  font-size: 25px;
  grid-area: reviews;
  text-align: center;
}

div#social {
  grid-area: social;
  text-align: center;
}

div#contact {
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
  font-size: 30px;
  grid-area: contact;
  text-align: center;
}

div#credits {
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
  font-size: 25px;
  grid-area: credits;
  text-align: center;
}

@media (min-width: 600px) {
  div#carousel {
    display: block;
    }

  div#logo {
    display: block;
    }

  div#reviews {
    display: block;
  }
}

/*********** End Layout Styles ***********/


/*********** Begin Content Styles ***********/

/* Headings */
h1 {
  font-size: 75px;
  color: #FFB7C1;
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
  text-align: center;
}

@media (min-width: 600px) {
  h1 {
    font-size: 90px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 145px;
  }
}


h2 {
  font-size: 55px;
  color: #FFB7C1;
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
  text-align: center;
}

@media (min-width: 600px) {
  h2 {
    font-size: 65px;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 50px;
  }
}

p {
  font-size: 35px;
  color: #000000;
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
  text-align: center;
}

@media (min-width: 600px) {
  p {
    font-size: 40px;
  }
}

@media (min-width: 900px) {
  p {
    font-size: 30px;
  }
}


/* Menu Styling */

div#breakfast {
  
}



/* Paragraphs and lists */

p {

}

ol {

}

ul {
  font-size: 30px;
  color: #000000;
  font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
}

li {

}

/* tables */

table {

}

caption {

}

tr {

}

th {

}

td {

}

/* images */
img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

/* links */

a:link {
  color: #FFB7C1;
}

a:visited {
  color: #B4B3B1;
}

a:hover {
  color: #FFB7C1;
}

a:active {
  color: #B4B3B1;
}

/* forms */



/*********** End Content Styles ***********/
